#cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 4rem 0;
    gap: 2rem;
}

#cards header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
    
}

#cards header h2{
    font-weight: 750;
    font-size: 1.8rem;
    color: #A63F03;
    
}

#cards > ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    list-style: none;
}

#cards > ul > li{
    background-color: none;
    border: 2px solid #A63F03;
    padding: 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#cards > ul > li > picture {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0.98);
    transition: all 200ms ease-in-out;
}

#cards > ul > li > picture img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#cards > ul >li > picture:hover{
    transform: scale(1)
}

#cards > ul > li > ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

#cards > ul > li > ul > li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

#cards > ul > li > ul > li.info{
    justify-content: space-between
}

#cards > ul > li > ul > li.info h3{
    color: #A63F03;
    font-weight: normal;
    font-size: 0.8rem;
}

#cards > ul > li > ul > li.info p{
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #A63F03;
    padding: 0.5rem;
}
